.container {
    display: flex;
    flex: 1;
    flex-direction: column;    
    align-items: center;
    justify-content: space-evenly;
    width: 100%; 
    max-width: 1440px;
    height: 97vh;
    
}

.estilos{
    display: flex;
    flex: 1;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    border: 10rem;
    border-radius: 10rem;
    background-color: black;
    color: aliceblue;
    width: 50rem;
    height: 30vh;
}