.botao {
    padding: 1rem 2rem;
    cursor: pointer;
    margin: 0.5rem;
}

.cadastrar {
    background-color: rgb(34, 45, 139);
}

.editar {
    background-color: coral;
}

.listar{
    background-color: brown;
}

.excluir{
    background-color: crimson;
}

.cancelar{
    background-color: cadetblue;
}
